{% extends "bootstrap/base.html" %}
{% block title %}Catalog{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
{% endblock %}


{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/" title="Home">Home</a>
        </li>
        <li class="active">
          <a href="{{ ms_prefix }}/" title="Catalog">Catalog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <center>
    <h2>Products<h2>
    </center>
    <div class="form-group">
      <form action = "{{ ms_prefix }}/" method = "POST">
      <div class="form-group">
        <input id="search" class="form-control" name="search">
        <input type = "submit" value = "Search" />
      </div>
      <div class="form-group">
      </div>
    </div>
    </form>
<table class="table table-dark">
<tr>
  <th>Product</th>
  <th>Category</th>
  <th>Price</th>
  <th></th>
</tr>
  {% for entry  in entries %}
     <tr>
     <td>{{ entry['product'] }} </td>
     <td>{{ entry['category'] }} </td>
     <td>{{ entry['price'] }} </td>
     <td>
      <form action = "{{ ms_prefix }}/purchase" method = "POST">
      <input id="quantity" type="text" size="1" name="quantity" value="1">
      <input id="item" type="hidden" name="item" value="{{ entry['product_id'] }}">
      <input type = "submit" value = "Purchase" />
      </form>
      </td>
     </tr>
  {% endfor %}
</table>

</div>
{% endblock %}
 
